{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/discovery.css' %}">
{% endblock %}
{% block content %}
    
    <!-- Full-Screen Section -->
<div class="container-fluid d-flex flex-column flex-md-row align-items-center " style="background-color:#100f0c; color: #f2e6d9;">
    <!-- Left Side: Text and Paragraph -->
    <div class="col-md-6 d-flex flex-column justify-content-between vh-100 m-4 py-6 vh-sm-0 min-vh-sm-50">
         <h1 class="fs-4 md-mt-3 mt-xl-0 text-center fw-light text-uppercase ">Flower Meanings</h1>
    
        <h2 class="display-1 m-3 text-center text-capitalize my-title ">Daisy</h2>
      
        <p class="d-none d-md-block lead fs-5 mb-0 ">
            Who doesn’t love daisies? These beautiful sunny blooms are classy, simple, and the perfect flower for any occasion. 
        </p>
    
    </div>
    <!-- Right Side: Full-Size Image -->
    <div class="col-md-6">
        <img src="https://i.pinimg.com/736x/a3/18/8e/a3188e3195b80a81ef5222fabba77606.jpg" alt="Daisy Image" class="img-fluid">
    </div>
</div>

<!-- Additional Paragraph (only for smaller screens) -->
<div class="container-fluid text-center d-md-none p-4" style="background-color: #100f0c; color: #f2e6d9;">
    <p class="lead">
        Who doesn’t love daisies? These beautiful sunny blooms are classy, simple, and the perfect flower for any occasion. 
    </p>
</div>

   

    <div class="title-my" style="margin-top: 2rem;">
        <h1 >The Meaning of Daisies</h1>
    </div>

    <div class="container-my content-section-my">
        <!-- First Paragraph -->
        <div class="content-paragraph-my">
            <hr class="divider-my">
            <p>
                A fan favorite, the daisy has so many different symbols and meanings.
            </p>
            <hr class="divider-my">
            <p>
                <b>Innocence:</b> Daisies are commonly associated with children or newborns who, if you’ve ever dabbled in the Romantic Era (especially poetry), you’ll know children are considered the definition of innocence. Daisies are also a symbol of new beginnings and hope for a better day on the horizon.
            </p>
            <hr class="divider-my">
            <p>
                <b>New Beginnings:</b> Speaking of new beginnings, the daisy represents a new beginning (and makes the perfect gift for someone who is going through a major life change: new job, moving, or starting a new journey). Daisies are known for closing their petals each night and reopening them in the morning, which could be where they got their street-cred as a symbol of new beginnings. 
            </p>
            <hr class="divider-my">
            <p>
                <b>Purity:</b> The daisy’s petals are soft and gentle, which is why they are often linked to purity. The perfect gift for new parents. 
            </p>
            <hr class="divider-my">
            <p>
                <b>True Love:</b> Daisies symbolize true love and soulmates. Although they are not a common Valentine’s Day gift, they are the perfect gift to give someone you want to show a little bit of love. 
            </p>
            <hr class="divider-my">
            <p>
                <b>Harmony:</b> Daisies also represent balance, harmony, and satisfaction.
            </p>
            <hr class="divider-my">
            <p>
                The name daisy comes from an Old English word meaning “day’s eye” because the flower would only bloom during the daytime. During the night, daisies always kept their petals closed.
            </p>
            <hr class="divider-my">
            <p>
                The popular saying, that’s a doozy used to be, that’s a daisy during the 1800s…pretty wild!
            </p>
            <hr class="divider-my">
            <p>
                In Nordic mythology, Freya, the goddess of love, gifted the daisy as symbols of sensuality, fertility, and maternal strength—making these blooms a great gift for mothers everywhere. 
            </p>
        </div>
    </div>



    <!-- Title -->
    <div class="container-my" style="margin-top: 2rem;">
        <h1>
            What Do Daisies Smell Like?
        </h1>
    </div>
    <div class="container-my content-section-my">
        <!-- First Paragraph -->
        <div class="content-paragraph-my">
            <hr class="divider-my">
            <p>
                Daisies aren’t necessarily known for for their scent. Many compare the smell of daisies to that of fresh-cut grass.
            </p>
            <hr class="divider-my">
            <p>
                Light and refreshing!
            </p>
        </div>
    </div>

    <div class="frame-container-my m-0" style="margin-top: 3rem;margin-bottom: 4rem;">
        <div class="image-container-my">
          <img src="https://i.pinimg.com/736x/0b/eb/c9/0bebc959f13e46ee0698d32877572b66.jpg" alt="Daisy">
        </div>
        <div class="text-container-my">
          <p class="quote-my">"The daisy, by the shadow that it casts, Protects the lingering dewdrop from the sun."</p>

          <br><br>
          <p class="author-my">—William Wordsworth</p>
        </div>
    </div>

    <!-- Title -->
    <div class="container-my" style="margin-top: 2rem;">
        <h1>
            The History of the Daisy
        </h1>
    </div>
    <!-- Content Section -->
    <div class="container-my content-section-my">
        <!-- First Paragraph -->
        <div class="content-paragraph-my">
            <hr class="divider-my">
            <p>
                Beginning around 2200 B.C., daisies were popular among temple gardens. These gardens typically accommodated an array of plants and flowers that had herbal and medicinal properties. The common daisy or Bellis Perennis is a perennial usually displaying white, red, or pink petals.
            </p>
            <hr class="divider-my">
            <p>
                The daisy played a key role in the medical field during medieval times. The name daisy comes from the Anglo Saxon daes eage, meaning day’s eye. Which, on top of referring to their day-time blooming patterns, also referred to the application of daisies as a cure for eye problems.
            </p>
            <hr class="divider-my">
            <p>
                Henry VII of England was known for his athletic abilities in his younger years, but later on in life, he relied on eating daisies to stem intense stomach ulcer plain. The King also suffered from gout, which daisies were believed to help with as well as fevers.
            </p>
            <hr class="divider-my">
            <p>
                Beginning in the 13th century, physicians also used daisies as an application when treating wounds. [2]
            </p>       
        </div>   
    </div>


    <div class="content-wrapper-my container-fluid m-0" style="margin: 0 4rem;max-width: 680px;">
        <hr class="left-line-my">
            <div class="content">
                <h1      class="title-my"           style="text-transform:  uppercase;margin-left: 0;font-weight: 10px;font-size: 20px;margin-top: 20px;" >DID YOU KNOW - Daisy Fun Fact

                </h1>
       
        <div class="funfact-paragraph-my" >
           <hr class="divider-my">
            <span style="width: auto;">
                Daises are actually two flowers in one. The yellow center’s florets and the outer petals are different blooms entirely. [4]
            </span>
                <hr class="divider-my">
        </div>
        <hr class="right-line-my">
        
    </div>
    </div>

    <div class="frame-container-my m-0" style="margin-top: 6rem;">
        <div class="text-container-my" >
          <p class="quote-my" style="font-size:3rem;">How to Grow Daisies</p>
         
        </div>
        <div class="image-container-my">
            <img src="https://i.pinimg.com/736x/a4/dd/e5/a4dde5750520c9e8796530302f22d2e7.jpg" alt="Daisy">
          </div>
    </div>

    <div class="container-my content-section-my">
        
        <div class="content-paragraph-my">
            <hr class="divider-my">
            <p style="text-wrap: wrap;">
                If you’re looking to start growing daisies from seeds:
            </p>
            <hr class="divider-my">
            <p>
                Sow plants in the spring or once the soil has hit 70 degrees Fahrenheit.  
            </p>
            <p>
                Plant your daisy seeds in a sunny spot. These blooms need light to germinate and will do best in full sun. 
            </p>
            <hr class="divider-my">
            <p>
                Cover your sowed seeds with an eighth inch of soil so the sunlight will still be able to reach the seeds. 
            </p>
            <hr class="divider-my">
            <p>
                Plant your seeds in nutrient-rich, well-draining soil using a mix of sand, peat moss, and manure compost soil for your daisies.  
            </p>
            <hr class="divider-my">
            <p>
                Keep your soil moist and watch your seeds begin to germinate in about 10 to 20 days!  
            </p>
            <hr class="divider-my">
            <p>
                If you’ve chosen to plant your daisies from root balls: 
            </p>
            <hr class="divider-my">
            <p>
                Plant your daisies in nutrient-rich soil and apply an all-purpose fertilizer if your soil needs more nutrients (your new daisies will thank you!).
            </p>
            <p>
                Make space for your daisies in your garden and dig a hole that’s twice the diameter of the pot in which you purchased your daisies. Place the daisy in the hole, keeping the root ball flush with the soil’s surface.
            </p>
            <p>
                Space your daisies one to two feet apart from one another. Daisies are fast-growing blooms, so be sure you’re giving the root balls enough room to expand.
            </p>
            <p>
                Water at the base of the plant once a week, and keep an eye on your soil to ensure it doesn’t get soggy. [3]
            </p>
        
        </div>
        <div class="read-more" style="margin-bottom: 2rem;">READ MORE &#8595;</div>

        <div class="content-wrapper-my container-fluid m-0" style="margin-top: 4rem;margin-bottom: 4rem;">
            <hr class="left-line-my">
                <div class="content">
                    <h1      class="title-my"           style="text-transform:  uppercase;margin-left: 0;font-weight: 10px;font-size: 20px;margin-top: 20px;" >DID YOU KNOW - Daisy Fun Fact
    
                    </h1>
           
            <div class="funfact-paragraph-my container-fluid m-0" >
               <hr class="divider-my">
                <span>
                    Daisies make up almost 10% of all flowering plants on the planet…that’s a lot of daisies. [4]
                </span>
                    <hr class="divider-my">
            </div>
            <hr class="right-line-my">
            
        </div>
        </div>

        <div class="frame-container-my" style="margin-top: 6rem;margin-left: 0;">
            <div class="image-container-my">
              <img src="https://i.pinimg.com/736x/d1/84/94/d184946ab65feba395e679ba0380212d.jpg" alt="caring for flowers" style="width: 100%;height: auto;">
            </div>
            <div class="text-container-my" >
              <div class="container-my quote-my" style="margin-top: 2rem;">
                <h1 >How to Care for Daisies</h1>
                </div>
            </div>
        </div>

     <div class="container-my content-section-my">
        
            <div class="content-paragraph-my">
                <hr class="divider-my">
                <p>
                    Whether your daisies were a gift from a loved one or you picked them yourself from your garden, chances are, if you’ve gone through the trouble of digging out a vase (if they didn’t already come in one, of course), you’re going to want to try and keep them alive for as long as possible.
                </p>
           
                <hr class="divider-my">
                <p>
                    Be sure to give each stem some breathing room. If your vase is too narrow, the stems may wilt prematurely. On the other hand, if your vase is too wide, your blooms may also begin to wilt.
                </p>
       
                <hr class="divider-my">
                <p>
                    Trim your stems! <b>“Flowers use capillary action to bring the vase water up to the blooms, and simply cutting the stems shorter will make it easier for them to collect the water.”</b> [5] Before placing/ transferring your blooms into a vase, give them a fresh opening for water to travel through. 
                </p>
                <hr class="divider-my">
                <p>
                    <b>Pro Tip:</b> Cut your stems at an angle for best results.   
                </p>
                <hr class="divider-my">
                <p>
                    Remove extra foliage/ leaves. Leaves left under the water line will rot, causing bacteria to grow and infect the rest of the bloom.  
                </p>
                <hr class="divider-my">
                <p>
                    Keep your fresh in a cool place and avoid direct sunlight if possible.[5]  
                </p>
            </div>          
</div>
</div>


            <!-- more to add -->

            {% endblock %}
            {% block script %}
        <script src="{% static 'js/discovery.js' %}"></script>
        {% endblock %}
