{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/discovery.css' %}">
{% endblock %}
{% block content %}

     <!-- Full-Screen Section -->
<div class="container-fluid d-flex flex-column flex-md-row align-items-center " style="background-color:#100f0c; color: #f2e6d9;">
    <!-- Left Side: Text and Paragraph -->
    <div class="col-md-6 d-flex flex-column justify-content-between vh-100 m-4 py-6 vh-sm-0 min-vh-sm-50">
         <h1 class="fs-4 md-mt-3 mt-xl-0 text-center fw-light text-uppercase ">Flower Meanings</h1>
    
        <h2 class="display-1 m-3 text-center text-capitalize my-title ">Lotus</h2>
      
        <p class="d-none d-md-block lead fs-5 mb-0 ">
            The Nelumbo nucifera, also known as the sacred lotus, water lily, or just plain old lotus—is considered one of the most sacred blooms in our world’s history. 
        </p>
    
    </div>

    <!-- Right Side: Full-Size Image -->
    <div class="col-md-6">
        <img src="https://i.pinimg.com/736x/29/24/e7/2924e78984e9a3f5f5eeb6b512f3ae76.jpg" alt="Lotus Image" class="img-fluid" >
    </div>
</div>

<!-- Additional Paragraph (only for smaller screens) -->
<div class="container-fluid text-center d-md-none p-4" style="background-color: #100f0c; color: #f2e6d9;">
    <p class="lead">
        The Nelumbo nucifera, also known as the sacred lotus, water lily, or just plain old lotus—is considered one of the most sacred blooms in our world’s history.
    </p>
</div>

    <div class="title-my" style="margin-top: 2rem;">
        <h1 >The Meaning of Lotus</h1>
    </div>

    <div class="container-my content-section-my">
        <!-- First Paragraph -->
        <div class="content-paragraph-my">
            <hr class="divider-my">
            <p>
                If you’re a fan of <span style="color: red;">Percy Jackson</span>, you may recognize this stunning beauty as the intoxicating flower that Percy and his pals must eat every once in a while in order to renew their spell. The trio claim it’s the most delicious thing they’ve ever eaten ,which is probably why they become briefly addicted before being saved by Poseidon.
            </p>
            <hr class="divider-my">
            <p>
                Or perhaps you’re a fan of <span style="
                    color: red;">HBO’s, The White Lotus</span> named for the fictional Hawaaian resort where the series takes place?
            </p>
            <hr class="divider-my">
            <p class="font-weight: bold">
                The lotus flower has many symbols:
            </p>
            <hr class="divider-my">
            <p>
                Purity
            </p>
            <p>
                Inner strength
            </p>
            <p>
                Tranquility
            </p>
            <hr class="divider-my">
            <p>
                But this bloom’s symbolism stretches far beyond just those three!
            </p>
            <hr class="divider-my">
            <p style="font-weight: bold">
                The lotus plays a quite huge and incredibly important role in many religions, as well:
            </p>
            <hr class="divider-my">
            <p>
                Hinduism
            </p>
            <p>
                Buddhism
            </p>
            <p>
                Sikhism
            </p>
            <p>
                Jainism
            </p>
            <hr class="divider-my">
            <p style="font-weight: bold">
                Let’s dig into it a bit more:
            </p>
            <hr class="divider-my">
            <p>
                We’re soaring all the way back to Ancient Egyptian times, where white and blue lotuses were quite common.
            </p>  
            <hr class="divider-my">
            <p>
                <b>In Egyptian culture</b>, the lotus was referred to as Seshe, and was closely associated with Egyptian gods.
            </p> 
            <hr class="divider-my">
            <p >
                The way the lotus flower gracefully emerged from the water, closely mimicked the movement of the sun. And the way it closed back up and returned beneath the water’s surface as the sun dispersed, only to repeat the process the next day, planted the lotus’ roots as a close friend of the sun god, Ra. Pretty sweet digs for our little lotus, huh?
            </p>
            <hr class="divider-my">
            <p>
                The Ancient Egyptians, <b>aksi</b>, believed that lotuses were symbolic of:
            </p>    
            <hr class="divider-my">
            <p>
                Creation
            </p>   
            <p>
                Rebirth
            </p>
            <p>
                Strength
            </p>
            <p>
                Power
            </p>
            <hr class="divider-my">
            <p>
                Which may be why Egyptian women commonly wore lotus amulets adorned with a portrait of Heqet, the goddess of fertility, during childbirth.
            </p>
            <hr class="divider-my">
            <p>
                Lotuses were also present in art, hieroglyphics, and paintings to represent fertility, new beginnings, and purity.
            </p>
            <hr class="divider-my">
            <p>
                <b>In Ancient Greece</b>, the bloom represented innocence, modesty, and purity.
            </p>
            <hr class="divider-my">
            <p>
                <b>While in Hinduism</b>,references to lotuses can be traced all the way back to at least 1400 BC, perhaps even earlier. Verdic texts housed these references of Hindu gods holding or standing on lotus flowers. This imagery is also found in the Buddhist’s traditions, except the Buddha was usually referenced sitting atop a lotus bloom.
            </p>
            <hr class="divider-my">
            <p>
                Most of the lotus’s symbolism comes from the way that the bloom grows. The lotus grows out of muddy water. As you can imagine, this is the perfect set up for some killer symbolism.
            </p>
            <hr class="divider-my">
            <p>
                The flowers’ roots anchor it into the mud, but the bloom rises above its murky home, blossoming one petal at a time.
            </p>
            <hr class="divider-my">
            <p>
                <b>Spiritual Enlightenment:</b> From rags to riches, a diamond in the rough, a blooming beauty rising from the muddy water — the lotus is the picture of rising above your circumstances and overcoming hardship. And we love that.
            </p>
            <hr class="divider-my">
            <p>
                <b>Detachment:</b> The lotus rises from the depths of its dirty water home, separating itself from its filthy environment — serving as a reminder for us to do the same. Separating ourselves from things that will cause us harm, and instead focus on what matters. 
            </p>
            <hr class="divider-my">
            <p>
                <b>Resurrections:</b> Resurrections and new beginnings are nothing new when it comes to the lotus. As the bloom emerges in the morning as a new blossom only to disappear back into the water in the evening — resulting in cyclical resurrection and a fresh start each and every morning. Can somebody say 50 First Dates? 
            </p>
            <hr class="divider-my">
            <p>
                <b>Purity & Cleanliness:</b> If you spent the whole night in an algae infested, muddy pond, how can you imagine you’d look (let alone feel) when morning came and you climbed out? Caked in mud, soaking wet, hopefully no fish stuck in your pockets, and let’s not forget about the smell. The lotus somehow manages to emerge clean and unbothered, never tainted by the filth in which it resides. A true clean king/queen.  
            </p>
            <hr class="divider-my">
            <p>
                <b>Nature & Womanhood:</b> Some use the lotus bud as a symbol of virginity, while the fully bloomed flower represents a mature, and sexually experienced female. Ooh la la, such scandal.   
            </p>
            <hr class="divider-my">
            <p style="font-weight: bold;">
                Above all, the lotus represents the importance and ability that we all have as humans to be true to ourselves and who we are. Regardless of where you came from, where you are, or where you’re going, remain grounded and proud of the one true you. [1] 
            </p>

        </div>

    </div>



    <!-- Title -->
    <div class="container-my" style="margin-top: 2rem;">
        <h1>What Does Lotus Smell Like?</h1>
    </div>
    <div class="container-my content-section-my">
        <!-- First Paragraph -->
        <div class="content-paragraph-my">
            <hr class="divider-my">
            <p>
                The lotus has quite a strong aroma. Their scent is often described as pleasant, heady, fruity, and sweet. [2]
            </p>
        </div>
    </div>

    <div class="frame-container-my m-0" style="margin-top: 3rem;margin-bottom: 4rem;">
        <div class="image-container-my">
          <img src="https://i.pinimg.com/736x/cb/e2/4d/cbe24ddc7cd9611e718dea3534bb9591.jpg" alt="Lotus">
        </div>
        <div class="text-container-my">
          <p class="quote-my">"The lotus is the most beautiful flower, whose petals open one by one."</p>

          <br><br>
          <p class="author-my">— Goldie Hawn</p>
        </div>
    </div>

    <!-- Title -->
    <div class="container-my" style="margin-top: 2rem;">
        <h1>
            The History of the Lotus
        </h1>
    </div>
    <!-- Content Section -->
    <div class="container-my content-section-my">
        <!-- First Paragraph -->
        <div class="content-paragraph-my">
            <hr class="divider-my">
            <p>
                Since the lotus flower has made quite a few laps around the sun to say the least, it’s got a long and rich history spanning thousands of years to boot. The bloom has naturally occurred in many countries throughout Southeast Asia and Australia.
            </p>
            <hr class="divider-my">
            <p>
                According to an interview with MGB Mindfulness and assistant professor of religious studies at Colorado College, Steven Vose, Ph.D, “The lotus flower appears on some of the earliest Buddhist and Jain imagery we have in South Asia,” that goes back as far as the reign of Emperor Ashoka around 250 BCE. Vose adds that lotuses were also used in Buddhist stupas (circular shrines) as early as 180 BCE, “as a source and support for a goddess who was eventually known as Lakshmi.
            </p>
            <hr class="divider-my">
            <p>
                Since the lotus was so popular amongst the Indo-Greeks (ancient nomadic people of Eurasia), Vose states it’s “unclear geographically where the image first arose,” but by the first few centuries of the Common Era, “it is well established to see the Buddha, Jinas, and Hindu gods and goddesses emerging from the lotus flower.” [3]
            </p>
            <hr class="divider-my">
            <p>
                One of the most interesting historical aspects of the lotus flower is the complete and utter mystery surrounding the bloom. Lotus are essentially living fossils, with their existence stretching back approximately 145.5 million years (yes, they even survived the Ice Age!). The Ice Age, which is said to have occurred 1.8 million – 10,000 years ago, was a time of great geological and ecological change, of which most plants in the northern hemisphere didn’t survive.
            </p>
            <hr class="divider-my">
            <p>
                The lotus can also survive pretty much anywhere in the world. If they survived the Ice Age, we think it’s pretty safe to say they’re invincible. You can find them growing naturally from Russia to Australia, and China to Iran, pretty impressive.
            </p>
            <hr class="divider-my">
            <p>
                The lotus flower is incredibly durable and can survive quite literally anything the world throws at them.
            </p>
            <hr class="divider-my">
            <p>
                While they can die, they are known to grow back given a bit of time. The great flood of the Yangtze River in 1954 killed all lotuses in the area, however, three years later when the water had finally receded, the lotuses began to grow again. The flood tore out their root system, but left their seeds. The seeds scattered around the lake waiting for the perfect time to bloom once again. 
            </p>
            <hr class="divider-my">
            <p> 
                Bonus fun fact: Lotus seeds can survive for thousands of years without water, so even if the lotuses didn’t return when they did, they could still come back centuries later. Insane! [4]
            </p>
        </div>   
    </div>

    <div class="content-wrapper-my container-fluid m-0" style="margin-top: 4rem;margin-bottom: 4rem;">
        <hr class="left-line-my">
            <div class="content">
                <h1 class="title-my"  style="text-transform:  uppercase;margin-left: 0;font-weight: 10px;font-size: 20px;margin-top: 20px;" >DID YOU KNOW - lotus Fun Fact

                </h1>
       
        <div class="funfact-paragraph-my" >
           <hr class="divider-my">
            <span>
                The pink lotus is the national flower of India and Vietnam. [5] 
            </span>
                <hr class="divider-my">
        </div>
        <hr class="right-line-my">
        
    </div>
    </div>

    <div class="frame-container-my m-0" style="margin-top: 6rem;">
        <div class="text-container-my" >
          <p class="quote-my" style="font-size:3rem;">How to Grow Lotus</p>
         
        </div>
        <div class="image-container-my">
            <img src="https://i.pinimg.com/736x/c8/ec/ca/c8eccaaa621313d5a9a6d990da242aaf.jpg" alt="Lotus">
          </div>
    </div>

    <div class="container-my content-section-my">
        
        <div class="content-paragraph-my">
            <hr class="divider-my">
            <p style="text-wrap: wrap;">
                Whether you’ve got a water-garden or not, (although to grow lotus you’re going to need a body of water), we’re going to teach you how to grow some lotus of your own.
            </p>
            <hr class="divider-my">
            <p>
                Lotus are sun-loving, exotic, and oh-so-dramatic. The perfect addition to any water-garden!  
            </p>
            <hr class="divider-my">
            <p>
                These perennial beauties require warmth and sunlight. They prefer about 5-6 hours of sunlight per day and to reside in water temperatures of 75-87 degrees Fahrenheit.  
            </p>
            <hr class="divider-my">
            <p>
                One thing to note before purchasing your lotus tuber, is to be sure you handle the tuber extremely carefully. The eyes of the tuber (the tips) are where the lotus’s leaves will eventually grow. If the tips are damaged in any way, there’s a good chance the tuber will not grow. 
            </p>
            <hr class="divider-my">
            <p>
                The tuber also needs to be kept warm (approximately 75 degrees).  
            </p>
            <hr class="divider-my">
            <p>
                When choosing a pot to plant your tuber, keep in mind that your lotus will grow to the size of that pot. Try to use a deeper pot so they’re less likely to hop over the edge of the pot and grow where they’re not wanted.  
            </p>
            <hr class="divider-my">
            <p style="font-weight: bold;">
                Some tips to follow: 
            </p>
            <hr class="divider-my">
            <p>
                Add a layer of sand to the base of the pot, followed by a layer of topsoil
            </p>
            <p>
                Create a small indentation in the topsoil for your tuber, then place the tuber in the soil, roots down
            </p>    
            <p>
                Gently cover the tuber with soil, careful not to break the eyes
            </p>
            <p>
                Slowly add enough water to create wet mud, no standing water
            </p>
            <p>
                Keep your freshly planted tuber warm and don’t worry about sunlight until leaves begin to appear
            </p>
            <p>
                Once you see leaves sprouting through the soil, be sure your lotus gets as much sun as possible (8 hours or more)
            </p>
            <p>
                Once your new lotus leaves begin to grow, you can add a few inches of water to your pot
            </p>
            <hr class="divider-my">
            <p>
                Pro Tip: Be sure the weather is warm enough (at least 70 degrees) before you move your plant outside & choose the sunniest spot you can find. [6]
            </p>
        
        </div>
        <div class="read-more" style="margin-bottom: 2rem;">READ MORE &#8595;</div>

        <div class="content-wrapper-my container-fluid m-0" style="margin-top: 4rem;margin-bottom: 4rem;">
            <hr class="left-line-my">
                <div class="content">
                    <h1      class="title-my"           style="text-transform:  uppercase;margin-left: 0;font-weight: 10px;font-size: 20px;margin-top: 20px;" >DID YOU KNOW - lotus Fun Fact
    
                    </h1>
           
            <div class="funfact-paragraph-my" >
               <hr class="divider-my">
                <span>
                    Flowers, young leaves, seeds and roots are edible and often used in Asian cuisine. [5] 
                </span>
                    <hr class="divider-my">
            </div>
            <hr class="right-line-my">
            
        </div>
        </div>

        <div class="frame-container-my" style="margin-top: 6rem;margin-left: 0;">
            <div class="image-container-my">
              <img src="https://i.pinimg.com/736x/ca/a6/ee/caa6ee4114263eb93518c1a08783f797.jpg" alt="caring for flowers" style="width: 100%;height: auto;">
            </div>
            <div class="text-container-my" >
              <!-- <h1 class="quote-my" style="font-size:30px;margin: 10px;">How to Care for Roses</h1> -->
              <div class="container-my quote-my" style="margin-top: 2rem;">
                <h1>How to Care for Lotus</h1>
                </div>
            </div>
        </div>

     <div class="container-my content-section-my">
        
            <div class="content-paragraph-my">
                <hr class="divider-my">
                <p style="font-weight: bold;">
                    When harvesting fresh lotus:
                </p>
            </div>
            <div class="content-paragraph-my" >
                <hr class="divider-my">
                <p>
                    Be sure to cut any excess stem, submerge the blooms ⅔ of the way in water, and avoid getting any water on the petals to reduce bruises and blemishes.  
                </p>
            </div>
            <div
            class="content-paragraph-my" >
                <hr class="divider-my">
                <p>
                    Try to keep the lotus’s guard petals on for as long as possible to protect the bloom. 
                </p>
            </div>
            <div
            class="content-paragraph-my" >
                <hr class="divider-my">
                <p>
                    Keep your lotus blooms in a warm area, they hate the cold!  
                </p>
            </div>   
            <div
            class="content-paragraph-my" >
                <hr class="divider-my">
                <p>
                    Keep in mind, lotus do not do well out of water and bruise very easily. [7]  
                </p>
            </div>       
          </div>
        </div>


            <!-- more to add -->

            {% endblock %}
            {% block script %}
        <script src="{% static 'js/discovery.js' %}"></script>
        {% endblock %}
