{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/discovery.css' %}">
{% endblock %}
{% block content %}

         <!-- Full-Screen Section -->
<div class="container-fluid d-flex flex-column flex-md-row align-items-center " style="background-color:#100f0c; color: #f2e6d9;">
    <!-- Left Side: Text and Paragraph -->
    <div class="col-md-6 d-flex flex-column justify-content-between vh-100 m-4 py-6 vh-sm-0 min-vh-sm-50">
         <h1 class="fs-4 md-mt-3 mt-xl-0 text-center fw-light text-uppercase ">ပန်းအဓိပ္ပါယ်များ</h1>
    
        <h2 class="display-1 m-3 text-center text-capitalize my-title ">Orchid</h2>
      
        <p class="d-none d-md-block lead fs-5 mb-0 ">
            As one of the oldest flowering plants and with over 200,000 different species, the history and symbolism behind these ancient blooms will blow your mind.
        </p>
    
    </div>

    <!-- Right Side: Full-Size Image -->
    <div class="col-md-6">
        <img src="https://i.pinimg.com/736x/5f/4f/14/5f4f14e873bf1dee0b34d8eb626664d0.jpg" alt="Orchid Image" class="img-fluid">
    </div>
</div>

<!-- Additional Paragraph (only for smaller screens) -->
<div class="container-fluid text-center d-md-none p-4" style="background-color: #100f0c; color: #f2e6d9;">
    <p class="lead">
        As one of the oldest flowering plants and with over 200,000 different species, the history and symbolism behind these ancient blooms will blow your mind. 
    </p>
</div>
    
    <div class="title-my" style="margin-top: 3rem;">
        <h1>The Meanings of Orchids</h1>
    </div>

    <div class="container-my content-section-my">
        <!-- First Paragraph -->
        <div class="content-paragraph-my">
            <hr class="divider-my">
            <p>
                So we already know all about orchid’s popularity, but what about their meaning? Are they just as meaningful as they are famous?
            </p>
            <hr class="divider-my">
            <p>
                Ta-da!
            </p>
            <hr class="divider-my">
            <p>
                Why, yes! They are indeed.
            </p>
            <hr class="divider-my">
            <p>
                The word ‘orchid’ is derived from the Greek word orchis, meaning testicles
            </p>
            <hr class="divider-my">
            <p>
                Despite the common reference to its association with sexuality in many cultures, there is so much more room to dig down into the orchid’s symbolism than you’d think.
            </p>
            <hr class="divider-my">
            <p>
                Fertility
            </p>
            <hr class="divider-my">
            <p>
                Not entirely off the topic of sexuality, however, orchids have represented fertility and virility as long as the winds have blown and flowers have bloomed. In ancient Greece, it was believed that consuming the root tubers of an orchid plant could determine the sex of the unborn fetus. If the father of the unborn baby ate large tubers of the plant, it was likely that his wife would give birth to a boy. On the contrary, if the mother ate small orchid tubers, she would give birth to a baby girl. What if the father and mother both ate their respective sized tubers? Would they cancel each other out, resulting in a wild card baby? Your guess is as good as ours. Due to this widespread belief, orchids became popular gifts for expecting couples. In ancient China, orchids were believed to represent the birth of many children.
            </p>
            <hr class="divider-my">
            <p>
                Perfection and Beauty
            </p>
            <hr class="divider-my">
            <p>
                Because of the natural symmetry of the orchid, as well as the straight lines that appear on their petals, orchids also symbolize the rare beauty found in symmetry. In Victorian England, these regal blooms were compared to the beauty of a woman. Even a woman’s attire during this period had truly an unmistakable resemblance to the orchid. Back to ancient China, they considered these blooms to be “Lan Hua,” or the epitome of human perfection. The next time you’re looking to buy a woman flowers, you’ll know <span style="color: rgb(186, 35, 35);">where to go!</span>
            </p>
            <hr class="divider-my">
            <p>
                Love
            </p>
            <hr class="divider-my">
            <p>
                If you’re sensing a trend here, you’d be correct. Love is definitely in the air. Orchids are considered symbols of love as they grow quite easily and bloom under most conditions. The Victorians used these blooms as a part of their custom to gift exotic and rare flowers. The rarer the flower, the deeper your love. Makes sense! In parts of Europe, orchids were also used as a key ingredient in various love potions.
            </p>
            <hr class="divider-my">
            <p>
                Luxury & Opulence
            </p>
            <hr class="divider-my">
            <p>
                Guess who’s back, the Victorians. It would seem that the people of England really loved their orchids. In the Victorian era, these blooms were also considered symbols of luxury. This was most likely a result of the rarity of the flowers, as they were only found in the Tropics at the time; therefore, only the rich had accessibility. In ancient Japan, the orchid was treasured by royalty and considered a symbol of wealth. [1]
            </p>
        </div>
        
        </div>


    <!-- Title -->
    <div class="container-my" style="margin-top: 2rem;">
        <h1>Orchid Color Meanings</h1>
    </div>

    <!-- Content Section -->
    <div class="container-my content-section-my">
        
        <div class="content-paragraph-my">
            <hr class="divider-my">
            <p>
                There are many flowers that possess only one meaning, but the orchid has many meanings depending on its color… and it has a lot of color varieties to boot. Here are just a few different colors, and what their orchid color meaning is:
            </p>
            <hr class="divider-my">
            <p>
                Yellow orchids stand for friendship and new beginnings. The perfect gift for a special friend!
            </p>
            <hr class="divider-my">
            <p>
                Blue orchids are quite rare and thus, symbolize rarity. They also stand for spirituality and meditation.
            </p>
            <hr class="divider-my">
            <p>
                Pink orchids represent joy, happiness, and innocence. It is also the gift for the 14th and 28th wedding anniversary!
            </p>
            <hr class="divider-my">
            <p>
                Purple orchids symbolize royalty, admiration, and respect. The gift of choice for someone you look up to!
            </p>
        </div>

    </div>
    <div class="container-my" style="margin-top: 2rem;">
        <h1>What Do Orchids Smell Like?</h1>
    </div>

    <div class="content-paragraph-my">
        <hr class="divider-my">
        <p>
            While many orchids have little to no scent, some are known to have a citrus-like fragrance. [6]
        </p>
    </div>
    <br><br><br>
    <div class="frame-container-my" >
        <div class="image-container-my">
          <img src="https://i.pinimg.com/736x/d9/3e/97/d93e97a82bc9c73c1d6df14092778a13.jpg" alt="Orchid">
        </div>
        <div class="text-container-my">
          <p class="quote-my">"Scatter as a prayer escaping my lips… as orchids blooming in clouds."</p>

          <br><br>
          <p class="author-my">— Sanober Khan</p>
        </div>
    </div>
    <hr class="divider-my">
    <div class="container-my" style="margin-top: 3rem;">
        <h1>The History of the Orchid</h1>
    </div>

        <div class="content-paragraph-my">
            <hr class="divider-my">
            <p>
                <span style="color: bold;">The history is strong with this one.</span> (Star Wars, anyone!?) 
            </p>
            <hr class="divider-my">
            <p>
                As one of the oldest flowering plants in history, orchids have had plenty of time to develop quite a complex relationship with their pollinating counterparts. This piece of the orchid’s history is not only interesting but quite impressive as well. Their vibrant colors, shapes, and smells have made them increasingly attractive to specific insects and animals over time. These insects and animals are responsible for the transportation of their pollinia from one plant to another.
            </p>
            <hr class="divider-my">
            <p>
                As true perennials, orchids are actually able to survive without undergoing any sort of pollination process at all. A common way of spreading is division. The division of orchids has been used by orchid collectors from the beginning of their trade. Orchids are epiphytes. This means they tend to grow on trees. Therefore, it isn’t uncommon to have a part of the host tree or the orchid plant itself, breaking off due to powerful wind speeds and storms. The orchid plant components that break off will obviously spread, causing this bloom to thrive wherever it may land.
            </p>
            <hr class="divider-my">
            <p>
                Onto a bit of human / orchid history:
            </p>
            <hr class="divider-my">
            <p>
                Orchids and humans have had an incredibly long and diverse relationship.
            </p>
            <hr class="divider-my">
            <p>
                The ancient Greeks deemed these blooms to be aphrodisiacs.
            </p>
            <hr class="divider-my">
            <p>
                The Teutonic people of modern-day Mexico and the Aztecs cultivated the seed pods of the Vanilla orchid as a flavoring agent.
            </p>
            <hr class="divider-my">
            <p>
                Oregon Inland Plateau natives used the Goodyera oblongata orchid as a sort of multi-purpose medicine.
            </p>
            <hr class="divider-my">
            <p>
                Charles Darwin wrote volumes on orchids and their various pollination processes. There is actually such a thing as “Darwin’s Orchid” or the Angraecum sesquipedale from Madagascar. Darwin argued that a specific moth must exist with an unprecedented 13-inch long proboscis in order to pollinate it. Twenty-one years after Darwin’s death, this moth, the Xanthopan morganii praedicta, was documented with its ridiculously long proboscis. It was only a few years ago that this moth was finally captured on camera via night-vision photography.
            </p>
            <hr class="divider-my">
            <p>
                Since we’ve already heard of the Victorian’s apparent obsession with these blooms. Let us dive a little deeper, shall we?
            </p>
            <hr class="divider-my">
            <p>
                During the mid-19th Century Victorian era, “orchid hunters” served to popularize the orchid among horticulturists. Unfortunately, in doing so, they also stripped down much of the native orchid habitat. This was an event commonly known as Orchid Mania. One of the most prominent figures in the Orchid Mania era was Fredrick Sander. Sander served as Queen Victoria’s “royal orchid grower.” He was in charge of the employment of many orchid hunters who would bring South America’s exotic orchids to England. Many of the orchids we know today are actually named after these hunters. One of Sander’s hunters, Josef Warscewicz, boasted in his success in practically plundering all of Quito and Cuenca of its orchids. Sanders himself published the first list of orchid hybrids during this time of manic orchid hunting.
            </p>
            <hr class="divider-my">
            <p>
                In today’s modern world, orchid collectors give substantial thought to orchid habitat conservation compared to their predecessors. These desirable blooms have been included in the Convention on International Trade in Endangered Species (CITES), proving that today’s generation is indeed concerned about the preservation of these magnificent blooms. [2]
            </p>
        </div>
       
        <br><br>
    <div class="content-wrapper-my container-fluid m-0" style="max-width: 680px;gap: 20px;align-content: center;" >
        <hr class="left-line-my">
            <div class="content">
                <h1      class="title-my"           style="text-transform:  uppercase;margin-left: 0;font-weight: 10px;font-size: 20px;margin-top: 20px;" >DID YOU KNOW - Orchid Fun Fact

                </h1>
       
        <div class="funfact-paragraph-my" style="margin: 10px;">
           <hr class="divider-my">
            <span style="max-width: 730px;">
                Some think that the symmetry of the orchid could have a lot to do with why people are so fond of them. An orchid has bilateral symmetry — like a human face — so if a line is drawn vertically down the middle of the flower, the two halves are mirror images of each other. [5]
            </span>
                <hr class="divider-my">
            </div>
            <hr class="right-line-my">
        
     </div>
    </div>

    <div class="frame-container-my" style="margin-top: 6rem;">
        <div class="text-container-my">
            <p class="quote-my" style="font-size:35px;margin: 10px 0 0 10px;">How to Grow Orchids</p>
           
          </div>
        <div class="image-container-my">
          <img src="https://i.pinimg.com/736x/70/32/9c/70329cacc1d4f3cd0b2d10a11f358263.jpg" alt="Orchid">
        </div>
        
    </div>

    <div class="content-paragraph-my" style="margin-top: 3rem;margin-bottom: 3rem;">
        <hr class="divider-my">
        <p>
            The diversity and beauty among the orchid plant are unrivaled. With over 30,000 different species and at least 200,000 hybrids, it can be difficult to keep it all straight.
        </p>
        <hr class="divider-my">
        <p>
            Since orchids can be found in the equatorial tropics, the arctic tundra, and everywhere in between, they can be a daunting plant to attempt to grow. But don’t let that scare you! They are also known for their adaptability. With such a rich variety of plants that thrive in so many different growing conditions, it’s actually quite easy to find an orchid best suited for you!
        </p>
        <hr class="divider-my">
        <p>
            Most cultivated orchids are native to the tropics and tend to attach themselves to tree bark or the surfaces of other plants.
        </p>
        <hr class="divider-my">
        <p>
            How it goes down in the wild:
        </p>
        <hr class="divider-my">
        <p>
            The orchid’s thick roots have adapted to absorb moisture and dissolve nutrients within. Because these tropical orchids usually grow high up in the trees, they are used to having good air circulation and abundant light. So in reality, they are used to getting 12 hours of sun, all year round and require intense sunlight. We can compare it to the light given in midsummer in more temperate regions like New York State.
        </p>
        <hr class="divider-my">
        <p>
            You can imagine that most orchids, particularly ones used to such finery that only the tropics can provide, are quite tricky to grow. Many, in fact, are just about impossible to keep alive, forget getting them to bloom.
        </p>
        <hr class="divider-my">
        <p>
            This is why the variety you choose is your key to success! It is vital to the survival of your orchid to choose a plant that aligns with the conditions that you can provide.
        </p>
        <hr class="divider-my">
        <p>
            The best route would be to choose one of the less fussy varieties of orchids and to purchase the most mature plant you can! (The youngins can be VERY fussy). [3]
        </p>
    </div>

    <div class="content-wrapper-my" style="max-width: 680px;gap: 20px;align-content: center;margin: 0 3rem;" >
        <hr class="left-line-my">
            <div class="content">
                <h1      class="title-my"           style="text-transform:  uppercase;margin-left: 0;font-weight: 10px;font-size: 20px;margin-top: 20px;" >DID YOU KNOW - Orchid Fun Fact

                </h1>
       
        <div class="funfact-paragraph-my" style="margin: 10px;">
           <hr class="divider-my">
            <span style="max-width: 730px;">
                Scientists found fossilized orchid pollen on the back of a bee. The fossil was dated to around 10 million or 15 million years ago. [5]
            </span>
                <hr class="divider-my">
            </div>
            <hr class="right-line-my">
        
     </div>
    </div>

    <div class="frame-container-my" style="margin-top: 6rem;">
    
        <div class="image-container-my">
          <img src="https://i.pinimg.com/736x/5c/2a/15/5c2a153c5bc00f03090744cdcb4b9f1c.jpg" alt="Orchid">
        </div>

        <div class="text-container-my">
            <p class="quote-my" style="font-size:35px;margin: 10px 0 0 10px;">How to Care for Orchids</p>
           
          </div>
        
    </div>

    <div class="content-paragraph-my" style="margin-top: 3rem;margin-bottom: 3rem;">
        <hr class="divider-my">
        <p>
            Now onto the fun part! How do we take care of these fussy little flowers?
        </p>
        <hr class="divider-my">
        <p>
            Since they adhere very strongly to their natural habitat, this will indicate the amount of light and water they require. Orchids that are native to the humid tropics such as phalaenopsis and paphiopedilum will prefer daytime temperatures of around 73 to 85 degrees Fahrenheit, with 80 to 90 percent humidity levels. This particular variety will be happiest in an east or southeast window where the light is not as intense.
        </p>
        <hr class="divider-my">
        <p>
            Warm climate orchids, like cymbidiums and dendrobiums, prefer a more average temperature of 55 to 70 degrees Fahrenheit, steady moisture, and good air circulation. South-facing windows are their favorite, and they may need a bit of shade during the height of the summer.
        </p>
        <hr class="divider-my">
        <p>
            Cattleyas and some oncidiums grow in a more dry and cool climate. They can tolerate a long dry season with temperatures of 80 to 90 degrees and a rainy season. They do need a lot of light so they should be kept in a sunny, south-facing window.
        </p>
        <hr class="divider-my">
        <p>
            As you can see, it is nearly impossible to give any sort of general care guide for orchids. However, you can always take a peek at the type of leaves your orchid has to get a bit of insight as to what it likes. For example, if your plant has very few leaves or leathery leaves like cattleyas and oncidiums, it probably needs a high-light environment. If the leaves are soft and limp like phalaenopsis and paphiopedilum, they are most likely light sensitive. [3]
        </p>
        <hr class="divider-my">
        <p>
            But what about post bloom care?!
        </p>
        <hr class="divider-my">
        <p>
            Not to worry.
        </p>
        <hr class="divider-my">
        <p>
            Once the flowers have all fallen from the stalk, it’s time to work towards a re-bloom!
        </p>
        <hr class="divider-my">
        <p>
            This process is the same for most species of orchids, so we don’t have to worry about that in this case. However, it does rely heavily on sterility to prevent disease contagions.
        </p>
        <hr class="divider-my">
        <p>
            Continue to provide light and consistent moisture to your plant, just as you would if it were blooming. Your orchid will thrive in a cramped container (very strange, right?), whether it is blooming or it has already bloomed!
        </p>
        <hr class="divider-my">
        <p>
            Post bloom orchid care doesn’t actually differ much from their usual care; the only difference is how you treat the spent flower stem. If the stem remains green and healthy, it may produce another round of flowers. If the stem is brown, cut off the rotting bits with a sterile utensil at the base. This will redirect the plant’s energy to the roots. The American Orchid Society recommends using cinnamon powder or melted wax to seal the cut and prevent infection after blooming. Cinnamon, who knew? [4]
        </p>
    </div>
        
    <!-- exit-->
    {% endblock %}
    {% block script %}
<script src="{% static 'js/discovery.js' %}"></script>
{% endblock %}