
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


.my-flower-landing-fullpage-section {
  padding: 20px;
  background-color: #100f0c; 
  color: #fdf5e9;
  padding: 3rem;
}

.card {
  padding: 2rem;
  border-radius: 10px;
  background-color: #100f0c;
  text-align: center;
}

.my-flower-landing-grid-section {
  background-color: #100f0c;
}



.card-link {
  text-decoration: none;
}

.card-letter-div {
  padding: 1.5rem;

}


/* Custom CSS */
.card {
  border: 1px solid #1a1916 !important;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-div {
  height: 450px;
  overflow: hidden;
}

.object-fit-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-body {
  padding: 1.5rem;
}

/* This ensures that the description is only 3 lines long and hides the rest. */
.card-description { 
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.6;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card-img-div {
    height: 350px;
  }
}

